* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  position: relative;
  width: 40vw;
  height: 25vh;
}

.table-head {
  width: 98%;
  height: 5vh;
  overflow: hidden;
  position: sticky;
  display: flex;
  justify-content: space-around;
}

.table-head p {
  border: 1px solid #ddd;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-body {
  width: 100%;
  height: 20vh;
  overflow: auto;
}

.table-body .row {
  display: flex;
  justify-content: space-around;
}

.table-body .row p {
  flex: 1;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 4vh;
  width: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}