.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 30vw;
  min-height: 29vh;
}

.resultBox {
  border: 1px solid #ddd;
  height: 5vh;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 1vh;
}

.resultBox .result {
  display: flex;
  width: 100%;
  height: 70%;
}

.resultBox .result p {
  border: 1px solid #ddd;
  background: #0075ff;
  color: #fff;
  border-radius: 30px;
  padding: 0 0.8vw;
  line-height: 3vh;
  margin: 0 0.1vw 0 0;
}

.close {
  color: #ffffff;
  cursor: pointer;
}

.close::before {
  content: "\2716";
}

.searchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 4px 15px 2px #ddd;
}

.searchBox .searchInputBox {
  display: flex;
  justify-content: center;
  height: 4vh;
  align-items: center;
  background: #e7e7e7;
}

.searchBox .searchInputBox input {
  padding: 0 1vw;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 20px;
  line-height: 3vh;
  outline: none;
}

.downBox {
  border: 1px solid #ddd;
  background: #ffffff;
  min-height: 5vh;
}

.downBox ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

.downBox ul li {
  height: 3vh;
}